<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
    <link href="https://leakforums.net/cdn/css/669-c3255b.css" rel="stylesheet">
    <style type="text/css">
        div.testcss {
            height: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div id="header">
        <a href="//leakforums.net" accesskey="a">
            <div class="logo">
                <img src="https://leakforums.net/cdn/l/c3255b.svg?4" height="103" alt="LeakForums" title="LeakForums"/>
            </div>
        </a>

    </div>
    <div class="head" data-alerts="1">
        <div class="menu" style="margin-top: -5px;margin-left: -20px;">
            <ul>
                <li><a class="forums">Forums</a>
                </li>
                <li><a class="memberlist" href="memberlist.php">Member List</a></li>
                <li><a class="credits" href="newpoints.php">Credits</a></li>
                <li><a class="credits" href="search.php">Search</a></li>
                <li><a class="credits" href="misc.php?action=help">Rules</a></li>
                <li><a class="credits" href="/tools">Tools</a></li>
                <li><a><i class="fa fa-align-justify"></i> More</a>

                </li>
            </ul>
            <div id="panel">
                <div class="constraint">
                    <a class="anchor">Pomf</a>
                    <div class="dd">
                    </div>
                </div>
            </div>
            <div class="alert-click">
                <div class="alert-c">Alerts <b style="color:#80FC61">(4)</b></div>
                <div class="alert-nav">
                    <div class="alert-alerts">
                    </div>
                    <button class="alert-bottom" onclick="window.location.href='misc.php?action=alerts'">View All Alerts</button>
                    <span class="alert-close">X</span>
                </div>
            </div>
        </div>
    </div>
    
    <div id="inner" v-bind:style="{ backgroundImage: 'url('+ selected +')'  }">
        <div id="container">
            <div id="content">
                <div class="testcss">
                    <select v-model="selected">
                        <option v-for="option in options" v-bind:value="option.download_url" v-model="selected">
                            {{ option.name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="foot"></div>
        <div id="footer">
            <div class="wrap">
                <div class="col" style="width: 340px;">
                    <h2>About Us</h2>
                    <p>LeakForums is a general discussion community where you can participate in active discussions, make new friends, find great leaks, earn awesome awards,
                        win freebies and so much more.</p>
                </div>
                <div class="col">
                    <h2>Navigation</h2>
                    <li><a href="contact.php">Contact Us</a></li>
                    <li><a href="tools.php">Custom Tools</a></li>
                    <li><a href="misc.php?action=help&hid=29">DMCA</a></li>
                    <li><a href="showteam.php">Forum Team</a></li>
                    <li><a href="awards">Awards</a></li>
                </div>
                <ul class="col">
                    <h2>Links</h2>
                    <li><a href="newpoints.php?action=betting">Gambling</a></li>
                    <li><a href="showgroups.php">Usergroups</a></li>
                    <li><a href="bans.php">Ban List</a></li>
                    <li><a href="selfban.php">Self Ban</a></li>
                </ul>
                <div class="float_right">
                    <p><img src="https://leakforums.net/cdn/images/leakforums/omni.png" style="height: 120px;margin-top: -10px;margin-right: 5px;" height="120" width="120"></p>
                </div>
                <br class="clear"/>
                <hr class="sep"/>
                <div class="float_right">
                    Death By <a href="http://mybb.com/" target="_blank" title="DieBB">MyBB</a>
                </div>
                © ~2017 &#xC628;&#xB77C;&#xC778;&#xC73C;&#xB85C; &#xB9CC;. All rights reserved. <span style="font-family:monospace">Connected via <i style="display:none"></i>Unknown -> SERVER.I.HARDLY.KNOW.HIM.LF.AG</span>.
            </div>
        </div>
    </div>

    <script>
        var vue = new Vue({
            el: '#inner',
            data: {
                options: []
            }
        });

        fetch('https://api.github.com/repositories/27610570/contents/images').then(function (response) {
            return response.json()
        }).then(function (json) {
            vue.options = json;

            for (var obj of json)
                (new Image(0, 0)).src = obj.download_url
        });
    </script>
</body>
</html>
